# Assignment - 1

### Q1. Create one variable containing following type of data.
        1) string
        2) list
        3) float
        4) tuple

In [1]:
# to make this type of variable be can make through list, set, tuple, & Dictionary.

var = ["sonu", [1,2,3,4], 2.0, ("apple", "mango", "banana")]
print(var)

['sonu', [1, 2, 3, 4], 2.0, ('apple', 'mango', 'banana')]

### Q2. Given are some following variables containing data:
    1) var1 = ‘ ‘
    2) var2 = ‘[ DS , ML , Python]’
    3) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
    4) var4 = 1.
### What will be the data type of the above given variable.

In [2]:
# to find the data type of variable be can use type() function

var1 = ''
type(var1)

str

In [3]:
var2 = '[ DS , ML , Python]'
type(var2)

str

In [4]:
var3 = [ 'DS' , "ML" , "Python" ]
type(var3)

list

In [5]:
var4 = 1.
type(var4)

float

### Q3.  Explain the use of the following operators using an example:
        1)/
        2)%
        3)//
        4)**

In [6]:
# '/' this operator Divides the number on its left by the number on its right and returns a floating point value. .
# for example -

x = 10
y = 5
print(x/y)

2.0

In [7]:
# '%' this operator is use to find Modulus in python
# for example -
x =10
y = 5
print(x%y)

0

In [8]:
# '//' This operator will divide the first argument by the second and round the result down to the nearest whole number,
# making it equivalent to the math.
# for example -

x = 13
y = 3
print(x//y)

4

In [9]:
# '**' this is one of the Arithmetic Operator which is use for to calculate Exponentiation 
# for example - 
x = 2 
y = 3

c = x**y
print(c)

8

### Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [10]:
list = ["sonu", 63, 2.5, ("a","b", 'c')]
for i in list:
    print(i, "=", type(i))

sonu = <class 'str'>
63 = <class 'int'>
2.5 = <class 'float'>
('a', 'b', 'c') = <class 'tuple'>

### Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [ ]:
# I can't understand the question .

### Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [11]:
list = []
for i in range(0,25):
    list.append(i)
print(list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [12]:
 for i in list:
        if i%3 == 0:
            print(i,"is divisible by 3.")
        else :
            print(i,"is  not divisible by 3.")

0 is divisible by 3.
1 is  not divisible by 3.
2 is  not divisible by 3.
3 is divisible by 3.
4 is  not divisible by 3.
5 is  not divisible by 3.
6 is divisible by 3.
7 is  not divisible by 3.
8 is  not divisible by 3.
9 is divisible by 3.
10 is  not divisible by 3.
11 is  not divisible by 3.
12 is divisible by 3.
13 is  not divisible by 3.
14 is  not divisible by 3.
15 is divisible by 3.
16 is  not divisible by 3.
17 is  not divisible by 3.
18 is divisible by 3.
19 is  not divisible by 3.
20 is  not divisible by 3.
21 is divisible by 3.
22 is  not divisible by 3.
23 is  not divisible by 3.
24 is divisible by 3.

### Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [13]:
# Mutable 

# A mutable object can be changed after it is created.
# Mutable Objects are of type list, dict, or set. Custom classes are generally mutable. 

# for examples =>

pen = ["red_pen", "blue_pen", "green_pen"]
print(pen)
 
pen[0] = "pink_pen"
pen[-1] = "orange_pen"
print(pen)

['red_pen', 'blue_pen', 'green_pen']
['pink_pen', 'blue_pen', 'orange_pen']

In [14]:
# Immutable
# An immutable object can’t be changed after it is created.
# Immutable Objects are of in-built datatypes like int, float, bool, string, Unicode, and tuple.  

# for example =>

tuple1 = (0, 1, 2, 3)
tuple1[0] = 4
print(tuple1)

TypeError: 'tuple' object does not support item assignment