# Pandas basic Assignment

## Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [3]:
import pandas as pd

# Create a Pandas Series
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)
type(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

pandas.core.series.Series

## Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [4]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Convert the list into a Pandas Series
my_series = pd.Series(my_list)

# Print the Series
print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

## Q3. Create a Pandas DataFrame that contains the following data:
    Name : Alice, Bob, Claire
    Age  :25, 30, 27
    Gender: Female, male, Female


  Then, print the DataFrame.

In [5]:
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

# Convert the dictionary into a Pandas DataFrame
df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

## Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

### DataFrame:
     A DataFrame is a two-dimensional data structure, similar to a table or spreadsheet, where data is organized in rows and          columns. It is one of the core data structures provided by the pandas library and is widely used for data manipulation,          analysis, and cleaning tasks.
     
     
     On the other hand, a pandas Series is a one-dimensional labeled array. It can be thought of as a single column of data from      a DataFrame. It is similar to a Python list or a NumPy array.

In [7]:
# for example
# DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

# Convert the dictionary into a Pandas DataFrame
df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [8]:
# Series
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Convert the list into a Pandas Series
my_series = pd.Series(my_list)

# Print the Series
print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

## Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

There are numerous functions and methods available for data manipulation in a DataFrame.
1) head()
2) info()
3) groupby()
4) drop()
5) tail()

In [9]:
# for example

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
df = pd.DataFrame(data)

print(df.head())

print(df.tail())

print(df.info())

df_dropped = df.drop('Age', axis=1)
print(df_dropped)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Gender  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes
None
     Name  Gender
0   Alice  Female
1     Bob    Male
2  Claire  Female

## Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Series and DataFrame are mutable objects, whereas Panel is immutable

Series: A one-dimensional labeled array is mutable, meaning you can modify its elements after creation.

DataFrame: A two-dimensional labeled data structure is also mutable. You can change its contents, add or remove columns, and perform various manipulations on the data.

Panel: A three-dimensional labeled array is considered immutable. Once created, you cannot change its data or dimensions. Instead, you can create a new Panel with desired changes.

## Q7. Create a DataFrame using multiple Series. Explain with an example.

In [11]:
names = pd.Series(['John', 'Alice', 'Bob', 'Eva', 'Mike'])

# Sample data for the Age Series
ages = pd.Series([28, 24, 22, 25, 30])

# Creating the DataFrame using the two Series
data = {'Name': names, 'Age': ages}
df = pd.DataFrame(data)

# Displaying the DataFrame
print(df)
type(df)

    Name  Age
0   John   28
1  Alice   24
2    Bob   22
3    Eva   25
4   Mike   30

pandas.core.frame.DataFrame